<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/admin-style.css" th:href="@{css/admin-style.css}" />
</head>
<body>
    <header>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/conges}">Congés</a>
                </li>               
                <li><a th:href="@{/login}">Se déconnecter</a></li> </ul>
            </div>
        </div>
    </header>
    <section layout:fragment="content"></section>
    <footer>
    </footer>
</body>
</html>
