<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Gestion des congés</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" />
</head>
<body>
    <header>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/employe/dashboard}">Dashboard</a></li>
                    <li><a th:href="@{/employe/nouveauConge}">Demander un congé</a></li>
                    <li><a th:href="@{/employe/conges}">Consulter les congés</a></li>
                    <li><a th:href="@{/login}">Se déconnecter</a></li> </ul>
            </div>
        </div>
    </header>
    <section layout:fragment="content"></section>
    <footer class="navbar-fixed-bottom">
        <hr />
        <div class="container">
            <small> ----Gestion des Congés---- </small>
        </div>
    </footer>
</body>
</html>