<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-employe}">
<head>
    <meta charset="utf-8" />
    <title>EMPLOYE</title>
    <link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div layout:fragment="content" class="container">
        <h1>Liste des Congés</h1>
        <form th:action="@{/employe/conges}" method="get">
            <div class="form-group">
                <label for="etat">Filtrer par État</label>
                <select id="etat" name="etat" class="form-control">
                    	<option value="">Tous</option>
                        <option value="SOLLICITE" th:selected="${param.etat == 'SOLLICITE'}">SOLLICITE</option>
                        <option value="VALIDE" th:selected="${param.etat == 'VALIDE'}">VALIDE</option>
                        <option value="REFUSE" th:selected="${param.etat == 'REFUSE'}">REFUSE</option>
                        <option value="ANNULE" th:selected="${param.etat == 'ANNULE'}">ANNULE</option>
                        <option value="EN_COURS" th:selected="${param.etat == 'EN_COURS'}">EN_COURS</option>
                        <option value="ARRETE" th:selected="${param.etat == 'ARRETE'}">ARRETE</option>
                        <option value="FINI" th:selected="${param.etat == 'FINI'}">FINI</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filtrer</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>État</th>
                    <th>Actions</th> <!-- Ajout de la colonne des actions -->
                    <th>Date Rupture</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="conge : ${conges}">
                    <td th:text="${conge.description}">Description</td>
                    <td th:text="${#dates.format(conge.dateDebut, 'dd/MM/yyyy')}">Date de Début</td>
                    <td th:text="${#dates.format(conge.dateFin, 'dd/MM/yyyy')}">Date de Fin</td>
                    <td th:text="${conge.etat}">État</td>
                    <td>
                        <!-- Bouton pour annuler le congé si son état est "SOLLICITE" -->
                        <form th:action="@{/employe/annulerConge}" method="post" style="display:inline;" th:if="${conge.etat == 'SOLLICITE'}">
                            <input type="hidden" th:value="${conge.id}" name="id"/>
                            <button type="submit" class="btn btn-danger">Annuler</button>
                        </form>
                        <!-- Bouton pour arrêter le congé si son état est "EN_COURS" -->
                        <form th:action="@{/employe/arreterConge}" method="post" style="display:inline;" th:if="${conge.etat == 'EN_COURS'}">
                            <input type="hidden" th:value="${conge.id}" name="id"/>
                            <button type="submit" class="btn btn-warning">Arrêter</button>
                        </form>
                    </td>
                    <td th:if="${conge.dateRupture != null and conge.dateRupture != ''}" th:text="${conge.dateRupture}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
